.loader{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--background-color-details),0.6);
}

.loader span{
    display: block;
    width: 70px;
    height: 70px;
    border: dashed 8px var(--special-background-color);
    border-radius: 50%;
    animation: rotate 2.3s linear infinite;
}
